/* Larger screen styles */

@media (min-width: 750px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    nav a{
        
        padding-left: 70px; /* Apply padding only to the left */
        padding-right: 70px /* Apply padding only to the right */
    }
    #menu {
        display: none;
    }

    .logo{
        width: 50px;
        margin-left: 50%;
    }

    .spotlights {
        display: flex;
        justify-content: space-around;
    }

    .spotlight {
        width: 30%;
        padding: 10px;
        background-color: #F0F0F0;
        border-radius: 10px;
    }

    main{
        display: grid;
        grid-template-columns: 3fr;
    }
    
    .hero h1{
        margin-top: -500px;
        position: relative;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.37);
        font-size: 3rem;
    }
    
    .hero p{
        position: relative;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.452);
        font-size: 1.5rem;
    }
    
    .cta-button {
        background-color: #FFD700;
        color: #0033A0;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        margin-bottom: 100px;
        margin-left: 35%;
        margin-top: -50px ;
        position: relative;
        z-index: 2;
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }
    section{
        margin-bottom: 100px;
    }
    
  
    .image-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three images per row */
        gap: 10px;
    }
}
